  name: Deploy to gh-pages
  on:
    push:
      branches:
        - master
  jobs:
    deploy-gh-pages:
      name: Deploying to gh-pages
      runs-on: ubuntu-latest
      permissions:
        contents: write
        actions: read
      steps:
        - name: Setup Node.js for use with actions
          uses: actions/setup-node@v6
          with:
            node-version: 24.x
        - name: Checkout branch
          uses: actions/checkout@v6

        - name: Clean install dependencies
          run: npm ci

        - name: Run deploy script
          shell: sh
          env:
              BACKEND: ${{ secrets.BACKEND }}
              BASE_URL: ${{ secrets.BASE_URL }}
          run: |
            git config user.name "Cristian Gonzalez" && git config user.email "cristian.glez.m@gmail.com"
            sh deployToGithub.sh $BACKEND $BASE_URL
